@model Epica.Web.Operacion.Models.Response.UserResponse
<div class="dropdown dropdown-inline">
    <a href="javascript:;" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
        <li class="menu-item px-3">
            @if (Model.estatus == 1)
            {
                <a data-id="@Model.id" onclick="GestionarUsuario(@Model.id, 'False')" title="Bloquear Cuenta" class="btnEditar menu-link px-3">
                    <i class="bi bi-lock"></i>&nbsp;
                    Bloquear
                </a>
            }
            else
            {
                <a data-id="@Model.id" onclick="GestionarUsuario(@Model.id, 'True')" title="Desbloquear Cuenta" class="btnEditar menu-link px-3">
                    <i class="bi bi-unlock"></i>&nbsp;
                    Desbloquear
                </a>
            }

        </li>
        <li class="menu-item px-3">
            <a data-id="@Model.id" asp-controller="Usuarios" asp-action="Detalles" asp-route-id="@Model.id" class="btnDetalle menu-link px-3">
                <i class="bi bi-search"></i>&nbsp;
                Detalles
            </a>
        </li>
        <li class="menu-item px-3">
            <a data-id="@Model.id" asp-controller="Usuarios" asp-action="GestionarDocumentos" asp-route-AccountID="@Model.id" class="btnDetalle menu-link px-3">
                <i class="bi bi-file-earmark-bar-graph"></i>&nbsp;
                Documentos
            </a>
        </li>
    </ul>
</div>
