@model Epica.Web.Operacion.Models.Response.UserResponse

@{
    ViewData["Title"] = "Detalles de usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LogoPage{
    <i class="bi bi-person fs-1 w-40px"></i>
}

@section breadcrumb{
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        <a class="text-muted" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        @ViewData["Title"]
    </li>
}

<div class="col-md-12">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Detalles de usuario</h3>
            <div class="separator separator-dashed border-light-secondary my-2"></div>
            <div class="card-toolbar">
                <button href="javascript:void(0)" onclick="history.back();" type="button" class="btn btn-sm btn-light-primary me-2">
                    Cancelar
                </button>
                <a data-id="@Model.id" asp-route-id="@Model.id" asp-action="Modificar" asp-controller="Usuarios" class="btn btn-sm btn-primary me-3">
                    &nbsp;Modificar
                </a>
            </div>
        </div>
        <div class="card-body pt-5">
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Nombre: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(@Model?.nombreCompleto ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Apellido paterno: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.nombreCompleto ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Email: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.email ?? "")" />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Curp: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.CURP ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">RFC: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">INE: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Fecha Nacimiento: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Observaciones: &nbsp;</label>
                    <div class="position-relative">
                        <textarea class="form-control form-control-sm form-control-solid" rows="2" type="text" readonly></textarea>
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">País Nacimiento: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Sexo: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.sexo ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Ocupación: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Nacionalidad: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Fiel: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">País: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Ingreso Mensual: &nbsp;</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Monto Máximo: &nbsp;</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">$</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon2" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Teléfono: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.telefono ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Calle: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Calle Numero: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Primera Calle: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Segunda Calle: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Colonia: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Delegacion/municipio: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label required">Código postal: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Ciudad estado: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Calle Número: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Puesto: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Empresa: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly value="@(Model?.organizacion ?? "")" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Apoderado Legal: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4 fv-row">
                    <label class="form-label">Rol: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control form-control-sm form-control-solid" type="text" readonly />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Usuarios/epica.usuarios.registro.js" asp-append-version="true"></script>
}