@model Epica.Web.Operacion.Models.ViewModels.UsuariosDetallesViewModel
@{
    ViewData["Title"] = ViewBag.TituloForm;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LogoPage{
    <i class="bi bi-person fs-1 w-40px"></i>
}

@section breadcrumb{
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        <a class="text-muted" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        @ViewData["Title"]
    </li>
}

<form asp-controller="Usuarios" asp-action="RegistrarUsuario" method="post">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.TituloForm</h3>
                <div class="separator separator-dashed border-light-secondary my-2"></div>
                <div class="card-toolbar">
                    <button href="javascript:void(0)" onclick="history.back();" type="button" class="btn btn-sm btn-light-primary me-2">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-light-primary me-2" id="btnGuardarUsuario">
                        Guardar
                    </button>
                    @{
                        if (Model != null)
                        {
                            <button href="#" type="button" class="btn btn-sm btn-light-primary" id="btnBloquearUsuario">
                                Bloquear
                            </button>
                        }
                    }

                </div>
            </div>
            <div class="card-body pt-5">
                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Nombre: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Nombre" class="form-control form-control-sm form-control-solid" id="Nombre" type="text" value="@(Model?.Nombre ?? "")" autocomplete="off" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">Apellido paterno: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ApellidoPaterno" class="form-control form-control-sm form-control-solid" id="ApellidoPaterno" type="text" value="@(Model?.ApellidoPaterno ?? "")" autocomplete="off" />
                            <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">Apellido materno: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ApellidoMaterno" class="form-control form-control-sm form-control-solid" id="ApellidoMaterno" type="text" value="@(Model?.ApellidoMaterno ?? "")" autocomplete="off" />
                            <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Email: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Email" class="form-control form-control-sm form-control-solid" id="Email" type="email" value="@(Model?.Email ?? "")" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Curp: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Curp" class="form-control form-control-sm form-control-solid" id="Curp" type="text" value="@(Model?.Curp ?? "")" autocomplete="off" />
                            <span asp-validation-for="Curp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">RFC: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Rfc" class="form-control form-control-sm form-control-solid" id="Rfc" type="text" value="@(Model?.Rfc ?? "")" autocomplete="off" />
                            <span asp-validation-for="Rfc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">INE: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Ine" class="form-control form-control-sm form-control-solid" id="Ine" type="text" value="@(Model?.Ine ?? "")" autocomplete="off" />
                            <span asp-validation-for="Ine" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Fecha Nacimiento: &nbsp;</label>
                        <div class="position-relative">
                            <input name="FechaNacimiento" class="form-control form-control-sm form-control-solid datepicker-js" type="text" />
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Observaciones: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Observaciones" class="form-control form-control-sm form-control-solid" id="Observaciones" type="text" value="@(Model?.Observaciones ?? "")" autocomplete="off" />
                            <span asp-validation-for="Observaciones" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">País Nacimiento: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="PaisNacimiento" class="form-control form-control-sm form-control-solid" id="PaisNacimiento" type="text" value="@(Model?.PaisNacimiento ?? "")" autocomplete="off" />
                            <span asp-validation-for="PaisNacimiento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Sexo: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="Sexo" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción">
                                <option></option>
                                @{
                                    if (Model != null)
                                    {
                                        if (Model.Sexo == "M")
                                        {
                                            <option value="M" selected>M</option>
                                        }
                                        else
                                        {
                                            <option value="M">M</option>
                                        }
                                        if (Model.Sexo == "F")
                                        {
                                            <option value="F" selected>F</option>
                                        }
                                        else
                                        {
                                            <option value="F">F</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Ocupación: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="Ocupacion" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción">
                                <option></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Nacionalidad: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="Nacionalidad" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción">
                                <option></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Fiel: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Fiel" class="form-control form-control-sm form-control-solid" id="Fiel" type="text" value="@(Model?.Fiel ?? "")" autocomplete="off" />
                            <span asp-validation-for="Fiel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">País: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="Pais" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción">
                                <option></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Ingreso Mensual: &nbsp;</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input asp-for="IngresoMensual" class="form-control form-control-sm form-control-solid" id="IngresoMensual" type="number" min="0" autocomplete="off" />
                            <span asp-validation-for="IngresoMensual" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Monto Máximo: &nbsp;</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">$</span>
                            <input asp-for="MontoMaximo" class="form-control form-control-sm form-control-solid" id="MontoMaximo" type="number" min="0" autocomplete="off" />
                            <span asp-validation-for="MontoMaximo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Teléfono: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Telefono" class="form-control form-control-sm form-control-solid" id="Telefono" type="text" value="@(Model?.Telefono ?? "")" autocomplete="off" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Calle" class="form-control form-control-sm form-control-solid" id="Calle" type="text" value="@(Model?.Calle ?? "")" autocomplete="off" />
                            <span asp-validation-for="Calle" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Calle Numero: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="CalleNumero" class="form-control form-control-sm form-control-solid" id="CalleNumero" type="text" value="@(Model?.CalleNumero ?? "")" autocomplete="off" />
                            <span asp-validation-for="CalleNumero" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Primera Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="PrimeraCalle" class="form-control form-control-sm form-control-solid" id="PrimeraCalle" type="text" value="@(Model?.PrimeraCalle ?? "")" autocomplete="off" />
                            <span asp-validation-for="PrimeraCalle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Segunda Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="SegundaCalle" class="form-control form-control-sm form-control-solid" id="SegundaCalle" type="text" value="@(Model?.SegundaCalle ?? "")" autocomplete="off" />
                            <span asp-validation-for="SegundaCalle" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Colonia: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Colonia" class="form-control form-control-sm form-control-solid" id="Colonia" type="text" value="@(Model?.Colonia ?? "")" autocomplete="off" />
                            <span asp-validation-for="Colonia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Delegacion/municipio: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="DelegacionMunicipio" class="form-control form-control-sm form-control-solid" id="DelegacionMunicipio" type="text" value="@(Model?.DelegacionMunicipio ?? "")" autocomplete="off" />
                            <span asp-validation-for="DelegacionMunicipio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">Código postal: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="CodigoPostal" class="form-control form-control-sm form-control-solid" id="CodigoPostal" type="text" value="@(Model?.CodigoPostal ?? "")" autocomplete="off" />
                            <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">No Interior: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="NoInterior" class="form-control form-control-sm form-control-solid" id="NoInterior" type="text" value="@(Model?.NoInterior ?? "")" autocomplete="off" />
                            <span asp-validation-for="NoInterior" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Ciudad estado: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="CiudadEstado" class="form-control form-control-sm form-control-solid" id="CiudadEstado" type="text" value="@(Model?.CiudadEstado ?? "")" autocomplete="off" />
                            <span asp-validation-for="CiudadEstado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Calle Número: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="CalleNumero" class="form-control form-control-sm form-control-solid" id="CalleNumero" type="text" value="@(Model?.CalleNumero ?? "")" autocomplete="off" />
                            <span asp-validation-for="CalleNumero" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Puesto: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Puesto" class="form-control form-control-sm form-control-solid" id="Puesto" type="text" value="@(Model?.Puesto ?? "")" autocomplete="off" />
                            <span asp-validation-for="Puesto" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Empresa: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="Empresa" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción">
                                <option></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Apoderado Legal: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ApoderadoLegal" class="form-control form-control-sm form-control-solid" id="ApoderadoLegal" type="text" value="@(Model?.ApoderadoLegal ?? "")" autocomplete="off" />
                            <span asp-validation-for="ApoderadoLegal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Rol: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="Rol" class="form-control form-control-sm form-control-solid" id="Rol" type="text" value="@(Model?.Rol ?? "")" autocomplete="off" />
                            <span asp-validation-for="Rol" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/Usuarios/epica.usuarios.registro.js" asp-append-version="true"></script>
}