@model Epica.Web.Operacion.Models.Response.TransaccionesResponse
<div class="dropdown dropdown-inline">
    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2 btnDetalle" data-id="@Model.idTransaccion" data-estatus="@Model.estatus" data-clabeCobranza="@Model.clabeCobranza" title="Detalles de Transacción" data-kt-docs-datatable-subtable="expand_row">
        <i class="bi bi-question-circle"></i>
    </button>
    <a asp-controller="Transacciones" asp-action="DescargarVoucherTransaccion" asp-route-cuentaAhorro="@Model.idCuentaAhorro" asp-route-Transaccion="@Model.idTransaccion" title="Imprimir Recibo" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2">
        <i class="bi bi-printer"></i>&nbsp;
    </a>
    @if (Model.permiso = true)
    {
        <a asp-controller="Transacciones" asp-action="Modificar" asp-route-id="@Model.idTransaccion" title="Editar Transacción" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2">
            <i class="bi bi-pencil"></i>&nbsp;
        </a>
    }

@*    <a href="javascript:;" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
        <li class="menu-item px-3">
            <a data-id="@Model.idTransaccion" asp-controller="Cuenta" asp-action="ImprimirTransaccion" asp-route-id="@Model.idTransaccion" class="btnEditar menu-link px-3">
                <i class="bi bi-printer"></i>&nbsp;
                Imprimir
            </a>
        </li>
        <li class="menu-item px-3">
            <a data-id="@Model.idTransaccion" asp-controller="Cuenta" asp-action="DetallesTransaccion" asp-route-id="@Model.idTransaccion" class="btnEditar menu-link px-3">
                <i class="bi bi-search"></i>&nbsp;
                Detalles
            </a>
        </li>
    </ul> *@
</div>
