@model Epica.Web.Operacion.Models.Response.DocumentosClienteResponse
<div class="dropdown dropdown-inline">

    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2 btnDetalle" data-id="@Model.idDocApodLeg" title="Imprimir Documento">
        <i class="bi bi-printer"></i>
    </button>
    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2 btnDetalle" data-id="@Model.idDocApodLeg" title="Ver Documento">
        <i class="bi bi-eye"></i>
    </button>
@*    <a href="javascript:;" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
        <li class="menu-item px-3">
            <a data-id="@Model.idDocApodLeg"  class="btnDetalle menu-link px-3">
                <i class="bi bi-search"></i>&nbsp;
                Ver Documento
            </a>
        </li>
        <li class="menu-item px-3">
            <a data-id="@Model.idDocApodLeg"  target="_blank" class="btnDetalle menu-link px-3">
                <i class="bi bi-cloud-download"></i>&nbsp;
                Descargar
            </a>
        </li>
        <li class="menu-item px-3">
            <a data-id="@Model.idDocApodLeg" class="btnDetalle menu-link px-3">
                <i class="bi bi-repeat"></i>&nbsp;
                Corregir
            </a>
        </li>
    </ul>*@
</div>
