@model Epica.Web.Operacion.Models.ViewModels.ClientesRegistroViewModel
@{
    ViewData["Title"] = ViewBag.TituloForm;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LogoPage{
    <i class="bi bi-person fs-1 w-40px"></i>
}

@section breadcrumb{
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        <a class="text-muted" asp-controller="Clientes" asp-action="Index">Clientes</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        @ViewData["Title"]
    </li>
}

<form asp-controller="Clientes" asp-action= "@ViewBag.Accion" method="post">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.TituloForm</h3>
                <div class="separator separator-dashed border-light-secondary my-2"></div>
                <div class="card-toolbar">
                    <button href="javascript:void(0)" onclick="history.back();" type="button" class="btn btn-sm btn-light-primary me-2">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-light-primary me-2" id="btnGuardarCliente">
                        Guardar
                    </button>
                    @{
                        if (Model != null)
                        {
                            <button href="#" type="button" class="btn btn-sm btn-light-primary" id="btnBloquearCliente">
                                Bloquear
                            </button>
                        }
                    }

                </div>
            </div>
            <div class="card-body pt-5">
                <input asp-for="@Model.ClientesDetalles.IdCliente class="form-control form-control-sm form-control-solid" id="IdCliente" type="hidden" value="@(Model?.ClientesDetalles.IdCliente ?? 0)" autocomplete="off" />
            </div>
            <div class="card-body pt-5">
                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Nombre: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="@Model.ClientesDetalles.IdCliente" hidden class="form-control form-control-sm form-control-solid" id="idCliente" type="text" value="@(Model?.ClientesDetalles.IdCliente ?? 0)" autocomplete="off" required />
                            <input asp-for="@Model.ClientesDetalles.Nombre" class="form-control form-control-sm form-control-solid" id="Nombre" type="text" value="@(Model?.ClientesDetalles.Nombre ?? "")" autocomplete="off" required />
                            <span asp-validation-for="@Model.ClientesDetalles.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">Apellido paterno: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.ApellidoPaterno" class="form-control form-control-sm form-control-solid" id="ApellidoPaterno" type="text" value="@(Model?.ClientesDetalles.ApellidoPaterno ?? "")" autocomplete="off" required>
                            <span asp-validation-for="ClientesDetalles.ApellidoPaterno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label">Apellido materno: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.ApellidoMaterno" class="form-control form-control-sm form-control-solid" id="ApellidoMaterno" type="text" value="@(Model?.ClientesDetalles.ApellidoMaterno ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.ApellidoMaterno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Email: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Email" class="form-control form-control-sm form-control-solid" id="Email" type="email" value="@(Model?.ClientesDetalles.Email ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Curp: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Curp" class="form-control form-control-sm form-control-solid" id="Curp" type="text" value="@(Model?.ClientesDetalles.Curp ?? "")" autocomplete="off" required pattern="[A-Z]{4}[0-9]{6}[HM]{1}[A-Z]{5}[0-9]{2}" title="Ingresa una CURP válida" />
                            <span asp-validation-for="ClientesDetalles.Curp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">RFC: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.RFC" class="form-control form-control-sm form-control-solid" id="Rfc" type="text" value="@(Model?.ClientesDetalles.RFC ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.RFC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">INE: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.INE" class="form-control form-control-sm form-control-solid" id="Ine" type="text" value="@(Model?.ClientesDetalles.INE ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.INE" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Fecha Nacimiento: &nbsp;</label>
                        <div class="position-relative">
                            @{
                                var fechaMaxima = DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd");
                            }
                            <input asp-for="ClientesDetalles.FechaNacimiento" class="form-control form-control-sm form-control-solid" type="date" max="@fechaMaxima" required />
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Observaciones: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Observaciones" class="form-control form-control-sm form-control-solid" id="Observaciones" type="text" value="@(Model?.ClientesDetalles.Observaciones ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.Observaciones" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">País Nacimiento: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.PaisNacimiento" class="form-control form-control-sm form-control-solid" id="PaisNacimiento" type="text" value="@(Model?.ClientesDetalles.PaisNacimiento ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.PaisNacimiento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Sexo: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.Sexo" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @{
                                    if (Model != null)
                                    {
                                        if (Model.ClientesDetalles.Sexo == "M")
                                        {
                                            <option value="M" selected>M</option>
                                        }
                                        else
                                        {
                                            <option value="M">M</option>
                                        }
                                        if (Model.ClientesDetalles.Sexo == "F")
                                        {
                                            <option value="F" selected>F</option>
                                        }
                                        else
                                        {
                                            <option value="F">F</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Ocupación: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.IdOcupacion" class="form-select form-select-sm form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @foreach (var ocupacion in Model.ListaOcupaciones)
                                {
                                    var isSelected = (ocupacion.Id == Model.ClientesDetalles.IdNacionalidad) ? "selected" : "";
                                    <option value="@ocupacion.Id" selected="@isSelected">@ocupacion.Descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Nacionalidad: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.IdNacionalidad" class="form-select form-select-sm form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @foreach (var nacionalidad in Model.ListaNacionalidades)
                                {
                                    var isSelected = (nacionalidad.Id == Model.ClientesDetalles.IdNacionalidad) ? "selected" : "";
                                    <option value="@nacionalidad.Id" selected="@isSelected">@nacionalidad.Descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Fiel: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Fiel" class="form-control form-control-sm form-control-solid" id="Fiel" type="text" value="@(Model?.ClientesDetalles.Fiel ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.Fiel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">País: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.IdPais" class="form-select form-select-sm form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @foreach (var pais in Model.ListaPaises)
                                {
@*                                    var isSelected = (Convert.ToInt32(pais.Value) == Model.ClientesDetalles.IdPais) ? "selected" : "";
                                    <option value="@pais.Value" selected="@isSelected">@pais.Text</option>*@
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Ingreso Mensual: &nbsp;</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input asp-for="ClientesDetalles.IngresoMensual" class="form-control form-control-sm form-control-solid" id="IngresoMensual" type="text" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.IngresoMensual" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Monto Máximo: &nbsp;</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">$</span>
                            <input asp-for="ClientesDetalles.MontoMaximo" class="form-control form-control-sm form-control-solid" id="MontoMaximo" type="text" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.MontoMaximo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Teléfono: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Telefono" class="form-control form-control-sm form-control-solid" id="Telefono" type="text" value="@(Model?.ClientesDetalles.Telefono ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Tipo de teléfono: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.TelefonoTipo" class="form-control form-control-sm form-control-solid" id="Telefono" type="text" value="@(Model?.ClientesDetalles.TelefonoTipo ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.TelefonoTipo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Calle" class="form-control form-control-sm form-control-solid" id="Calle" type="text" value="@(Model?.ClientesDetalles.Calle ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.Calle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Primera Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.EntreCallePrimera" class="form-control form-control-sm form-control-solid" id="PrimeraCalle" type="text" value="@(Model?.ClientesDetalles.EntreCallePrimera ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.EntreCallePrimera" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Segunda Calle: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.EntreCalleSegunda" class="form-control form-control-sm form-control-solid" id="SegundaCalle" type="text" value="@(Model?.ClientesDetalles.EntreCalleSegunda ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.EntreCalleSegunda" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Colonia: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Colonia" class="form-control form-control-sm form-control-solid" id="Colonia" type="text" value="@(Model?.ClientesDetalles.Colonia ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.Colonia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Delegacion/municipio: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.DelegacionMunicipio" class="form-control form-control-sm form-control-solid" id="DelegacionMunicipio" type="text" value="@(Model?.ClientesDetalles.DelegacionMunicipio ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.DelegacionMunicipio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">Código postal: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.CodigoPostal" class="form-control form-control-sm form-control-solid" id="CodigoPostal" type="number" value="@(Model?.ClientesDetalles.CodigoPostal ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.CodigoPostal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-2 fv-row">
                        <label class="form-label required">No Interior: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.NoInterior" class="form-control form-control-sm form-control-solid" id="NoInterior" type="text" value="@(Model?.ClientesDetalles.NoInterior ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.NoInterior" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Ciudad estado: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.CiudadEstado" class="form-control form-control-sm form-control-solid" id="CiudadEstado" type="text" value="@(Model?.ClientesDetalles.CiudadEstado ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.CiudadEstado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label">Calle Número: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.CalleNumero" class="form-control form-control-sm form-control-solid" id="CalleNumero" type="text" value="@(Model?.ClientesDetalles.CalleNumero ?? "")" autocomplete="off" />
                            <span asp-validation-for="ClientesDetalles.CalleNumero" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Puesto: &nbsp;</label>
                        <div class="position-relative">
                            <input asp-for="ClientesDetalles.Puesto" class="form-control form-control-sm form-control-solid" id="Puesto" type="text" value="@(Model?.ClientesDetalles.Puesto ?? "")" autocomplete="off" required />
                            <span asp-validation-for="ClientesDetalles.Puesto" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-6 mt-6">
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Empresa: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.Empresa" class="form-select form-select-sm form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @foreach (var empresa in Model.ListaEmpresas)
                                {
                                    var isSelected = (empresa.Id == Model.ClientesDetalles.IdNacionalidad) ? "selected" : "";
                                    <option value="@empresa.Id" selected="@isSelected">@empresa.Descripcion</option>

                                    if (empresa.Id == Model.ClientesDetalles.Empresa)
                                    {
                                        <option value="@empresa.Id" selected>@empresa.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@empresa.Id">@empresa.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Apoderado legal: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.ApoderadoLegal" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @{
                                    if (Model != null)
                                    {
                                        if (Model.ClientesDetalles.ApoderadoLegal == 1)
                                        {
                                            <option value=1 selected>Si</option>
                                        }
                                        else
                                        {
                                            <option value=1>Si</option>
                                        }
                                        if (Model.ClientesDetalles.ApoderadoLegal == 0)
                                        {
                                            <option value=0 selected>No</option>
                                        }
                                        else
                                        {
                                            <option value=0>No</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value=1>Si</option>
                                        <option value=0>No</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="py-2 px-4 col-md-4 fv-row">
                        <label class="form-label required">Rol: &nbsp;</label>
                        <div class="position-relative">
                            <select asp-for="ClientesDetalles.Rol" class="form-select form-select-sm form-select-solid" data-placeholder="Seleccione una opción" required>
                                <option></option>
                                @foreach (var rol in Model.ListaRoles)
                                {
                                    var isSelected = (rol.Descripcion == Model.ClientesDetalles.Rol) ? "selected" : "";
                                    <option value="@rol.Descripcion" selected="@isSelected">@rol.Descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/Clientes/epica.clientes.registro.js" asp-append-version="true"></script>
}