@model Epica.Web.Operacion.Models.Response.TarjetasResponse
<div class="dropdown dropdown-inline">
    <a href="javascript:;" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" title="Acciones" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
        <li class="menu-item px-3">
            @if (Model.Estatus == 1)
            {
                <a data-id="@Model.idCuentaAhorro" onclick="GestionarTarjeta(@Model.tarjeta, 'False', @Model.idCuentaAhorro)" title="Bloquear Tarjeta" class="btnEditar menu-link px-3">
                    <i class="bi bi-lock"></i>&nbsp;
                    Bloquear
                </a>
            }
            else
            {
                <a data-id="@Model.idCuentaAhorro" onclick="GestionarTarjeta(@Model.tarjeta, 'True', @Model.idCuentaAhorro)" title="Desbloquear Tarjeta" class="btnEditar menu-link px-3">
                    <i class="bi bi-unlock"></i>&nbsp;
                    Desbloquear
                </a>
            }

        </li>
    </ul>
</div>
