@model Epica.Web.Operacion.Models.Response.AsignarCuentaDetailsResponse

<form asp-controller="Tarjetas" asp-action="RegistrarTarjetas" id="AsignacionForm" method="post">
<div class="modal-content">
    <div class="modal-body ">
        <div class="card-body">
            <input asp-for="IdCliente" hidden class="form-control form-control-sm" id="idCliente" readonly value="@Model.IdCliente" type="text" autocomplete="off" />
                <div class="d-flex flex-stack row">
                    <div class="row mb-5 mt-5">
                        <div class="form-group input-group-sm col-md-12 row">
                            <label class="form-label">Buscar Cuenta:&nbsp;</label>
                            <input type="text" id="nombreCliente" name="nombreCliente" onkeypress="return SoloNumeros(event)" maxlength="16" class="form-control form-control-sm" placeholder="Número de Cuenta" autocomplete="off" />
                            <button type="button" class="btn btn-sm btn-primary" id="btnBuscarCliente">Buscar</button>

                        </div>
                    </div>
                </div>
                <div class="d-flex flex-stack row">
                    <div class="row mb-5 mt-5">
                        <div class="form-group input-group-sm col-md-12 row">
                            <label class="col-md-3 form-label required" required>Cuenta:&nbsp;</label>
                            <div class="col-md-9">
                                <input required asp-for="IdCuenta" hidden class="form-control form-control-sm" id="IdCuenta" readonly type="text" autocomplete="off" />
                                <input type="text" id="numeroCuenta" name="numeroCuenta" class="form-control form-control-sm form-control-solid" placeholder="Número de Cuenta" readonly autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-stack row">
                    <div class="row mb-5 mt-5">
                        <div class="form-group input-group-sm col-md-12 row">
                            <label class="col-md-3 form-label required" required>Rol:&nbsp;</label>
                            <div class="col-md-9">
                                <select asp-for="Rol" id="rol" class="form-select form-select-sm fw-bold filtro-control filtro-control-select" data-kt-select2="true" data-placeholder="Seleccione una opción" data-minimum-results-for-search="Infinity" required>
                                    <option></option>
                                    @foreach (var Roles in Model.ListaRoles!)
                                    {
                                        <option value="@Roles.Descripcion">@Roles.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-stack row">
                    <div class="row mb-5 mt-5">
                        <div class="form-group input-group-sm col-md-12 row">
                            <label class="col-md-3 form-label required" required>Empresa:&nbsp;</label>
                            <div class="col-md-9">
                                <select asp-for="IdEmpresa" id="idEmpresa" class="form-select form-select-sm fw-bold" data-placeholder="Seleccione una opción" data-kt-select2="true" data-minimum-results-for-search="Infinity" required>
                                    <option></option>
                                    @foreach (var Roles in Model.ListaEmpresa!)
                                    {
                                        <option value="@Roles.Id">@Roles.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
                
    </div>
</div>
</form>


